<!-- DFB38_06_blog_app/templates/base.html -->

{% load static %}

<html>
  <head>
    <title>Django BLOG project from Chaps 05-06 </title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
  </head>

  <body>
    <div>
      <header>
        <div class="nav-left">
          <h1><a href="admin/">Admin</a></h1>
          <h1><a href="{% url 'home' %}">Django blog</a></h1>
        </div>
        <div class="nav-right">
          <a href="{% url 'post_new' %}">+ Add new blog post</a>
        </div>
      </header>

      {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Log out</a></p>
      {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a>
      {% endif %}

      <!-- NOTE that 'content' is just a symbol, not a keyword -->
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>

<!-- ### end ### -->
